body {
    margin: 0;
    font-family: "Smythe", system-ui;
} 

.header{
    background-image: url('./images/header.jpg');
    height: 200px;
    background-size: cover;
    color: white;
    align-content: center;
    padding-left: 80px;
   background-position: center;
}
h1{
    font-size: 39px;
    
}

.header p{
    font-size: 22.42px;
}
.add{
    width: 50px;
    height: 50px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 45px;
    padding-left: 45px;
    padding-right: 45px;
}

.info{
    display: flex;
    align-items:center;
} 
.emoji{
    font-size: 5rem;
    margin-top: 0;
}
.info h1, p{
    margin-bottom: -10px;
}
button{
    color: white;
    border: 0;
    border-radius: 3px;
    background-color: #16DB99;
    justify-items: center;
    width: 90vw;
    display: block;
    margin: auto;
    padding: 18px 170px;
}

h2{
    justify-self: center;
}

input{
    background-image: url("./images/add.jpg");
    background-size: 60px;
    border: 0;
    background-position: center;
}
.order-info{
    display: flex;
    justify-content: space-between;
    padding-left: 2.8rem;
    padding-right: 2.8rem;
    visibility: visible;
}
.items-info{
    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 17vw;

}
.items-info p{
    padding-top: 0.5rem;
}
.total{
    display: flex;
    justify-content: space-between;
    padding-left: 2.8rem;
    padding-right: 2.8rem;
}

.remove{
    background: none;
}